.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
}

.header__store-title {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
}

.header__cart-btn-wrapper {
  justify-content: flex-end;
}

.header__store-title__icon {
  display: none;
}
