.favorite-menu {
    position: absolute;
    top: 4.5rem;
    left: -30rem;
    background-color: rgb(36, 37, 41);
    width: 40rem;
    padding: 1rem 2rem;
    z-index: 2;
    border-radius: 1.5rem;
}

.favorite-menu__arrange {
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.favorite-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}