.book-item {
  text-decoration: none;
  color: white;
  width: 32rem;
  background-color: rgb(36, 37, 41);
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 5rem;
}

.book-item:hover{
  transform:translateY(-5%)
}

.book-item__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.book-item__genre {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.book-item__details {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  /* height: 30rem */
}

.book-item__description {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.book-item__buy {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
}
