.cart-menu {
    position: absolute;
    top: 4.5rem;
    left: -30rem;
    background-color: rgb(36, 37, 41);
    width: 40rem;
    padding: 2rem 2rem 1rem;
    z-index: 2;
    border-radius: 1.5rem;
}

.cart-menu__arrange {
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.cart-menu__close-btn{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: white;
    border-color: white;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}