.items-in-cart {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: tomato;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  left: 1.5rem;
  top: -0.5rem;
}
