.pages {
  margin:auto;
  display: flex;
  justify-content: center;
  margin: 3rem 0;

}

.page {
  border: 1px solid #7e8ba3;
  border-radius: 100%;
  color: #7e8ba3;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

.page:hover{
  transform: translateY(-20%)
}

.page:not(:last-child){
  margin-right: 1rem;
}

.current-page {
  border: 2px solid #c2d4f6;
  font-weight: 700;
  color:#c2d4f6
}

.books-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, 32rem);
  gap: 4rem 3rem;
  justify-content: center;
}
