.book-item {
  text-decoration: none;
  color: white;
  width: 320px;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  padding-bottom: 40px;
}

.book-item__title {
  font-size: 18px;
  font-weight: bold;
}

.book-item__genre {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.book-item__details {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  height: 300px
}

.book-item__description {
  margin-top: 10px;
  font-size: 14px;
}

.book-item__buy {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
