.order-item {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
}

.order-item__cover {
    width: 20rem;
    margin-right: 3rem;
}

.order-item__title {
    font-size: 2.4rem;
    /* font-weight: bold; */
    max-width: 70%;
}

.order-item__price {
    font-size: 2.4rem;
    /* font-weight: bold; */
    margin-left: auto;
    display: flex;
}