.search {
  position: relative;
  font-size: 1.6rem;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  color: #7e8ba3;
}

.search__input {
  background-color: transparent;
  border: 1px solid #7e8ba3;
  outline: none;
  border-radius: 1.2rem;
  padding-left: 3rem;
}

.search__input:focus {
  border: 1px solid rgba(85, 88, 237, 0.733);
}
