.search {
  position: relative;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  color: #7e8ba3;
}

.search__input {
  background-color: transparent;
  border: 1px solid #7e8ba3;
  outline: none;
  border-radius: 12px;
  padding-left: 30px;
}

.search__input:focus{
   border: 1px solid #422389;
}
