.cart-block {
    display: flex;
    align-items: center;
    position: relative;
}

.total-price {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.cart-icon {
    cursor: pointer;
    position: relative;
}