.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.tab {
  padding: 16px 24px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.15s;
}

.tab__selected {
  border-bottom: 1px solid rgb(85, 88, 237);
}

.tab:hover {
  background-color: rgb(43, 42, 46);
}

.tablabel {
  color: rgb(134, 134, 154);
}

.tablabel__selected {
  color: rgb(85, 88, 237);
}
