.book-page__content {
    display: flex;
    gap: 2rem
}

.book-page__title{
    margin-bottom: 3rem;
}

.book-page__left {
    width: 40%;
    border: 1px solid rgb(85 88 237 / 38%);
    border-radius: 1.5rem;
    padding: 1rem;
}

.book-page__right {
    width: 70%;
}

.book-page__buy-book {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
