.book-page__content {
    display: flex;
    gap: 2rem
}

.book-page__left {
    width: 40%;
}

.book-page__right {
    width: 70%;
}

.book-page__buy-book {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
