.swiper {
  margin: 0 auto;
  padding: 4rem 0 !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, 32rem);
  gap: 0 1rem;
  justify-content: flex-start;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}